SUPABASE_URL="https://rkvayrydifonmpeliyvv.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrdmF5cnlkaWZvbm1wZWxpeXZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTI4NjcyNzUsImV4cCI6MjAwODQ0MzI3NX0.ZwYf6aqxR4HuAMT3WP95_aAUBAcN73NR30T9mRJaK6E"